@page
@model Backend.Pages.RegistrationModel
@{
    ViewData["Title"] = "Регистрация";
}
@section Links
{
    <link rel="stylesheet" href="~/styles/registration.css" asp-append-version="true" />
}


<!-- Основное содержимое -->
<main class="main">
    <h1 class="title">РЕГИСТРАЦИЯ</h1>
    <div class="register-container">
        <div class="buttons">
            <button type="button" class="btn-o btn-white">Организация</button>
            <button type="button" class="btn-o btn-green">инвестор</button>
        </div>

        <form class="form-container" id="registrationForm">
            <input type="hidden" id="userType" name="userType" value="organization">

            <label class="form-label">Краткое название организации</label>
            <input type="text" placeholder="Название" class="input-field" id="organizationName" name="organizationName">

            <label class="form-label">Юридический адрес</label>
            <input type="text" placeholder="Адрес" class="input-field" id="address" name="address">

            <label class="form-label">Категория</label>
            <select class="input-field" name="category" required id="industry">
                <option value="" disabled selected>Выберите категорию</option>
                <option value="category1">Категория 1</option>
                <option value="category2">Категория 2</option>
                <option value="category3">Категория 3</option>
                <option value="category4">Категория 4</option>
            </select>

            <label class="form-label">ФИО руководителя/контактного лица</label>
            <input type="text" placeholder="ФИО" class="input-field" id="FIO" name="FIO">

            <label class="form-label">Телефон руководителя/контактного лица</label>
            <input type="tel" placeholder="Номер телефона" class="input-field" id="phone" name="phone">

            <label class="form-label">Электронная почта</label>
            <input type="email" placeholder="Почта" class="input-field" id="mail" name="mail">

            <label class="form-label">Пароль</label>
            <input type="password" placeholder="Пароль" class="input-field" id="password" name="password">

            <label class="form-label">Повторите пароль</label>
            <input type="password" placeholder="Пароль" class="input-field" id="password2" name="password2">

            <button type="submit" class="btn-submit">зарегистрироваться</button>
        </form>
    </div>
    
</main>



