@page
@model Backend.Pages.RegistrationModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Регистрация";
}
@section Links
{
    <link rel="stylesheet" href="~/styles/registrationPage.css" />
}


<!-- Основное содержимое -->
<main class="main-container">
    <h1 class="registration-title">регистрация</h1>
    <div class="registration-container">
        <div class="tabs-container">
            <button class="tab executor-tab">
                <span class="tab-text">исполнитель</span>
            </button>
            <button class="tab investor-tab">
                <span class="tab-text">инвестор</span>
            </button>
        </div>
        <form class="registration-form" method="post" name="myForm">
            <div class="form-field">
                <input type="text" placeholder="краткое название организации" name="organizationName" id="organizationName">
            </div>
            <div class="form-field">
                <input type="text" placeholder="юридический адрес" name="address" id="address">
            </div>
            <div class="form-field">
                <input type="text" placeholder="сфера интересов" list="browsers" id="industry" name="industry">
                <datalist id="browsers">
                    <option value="" disabled selected hidden>категория (с выбором)</option>
                    <option value="Образовательное учреждение">Образовательное учреждение</option>
                    <option value="Научно-исследовательский институт">Научно-исследовательский институт</option>
                    <option value="Научно-образовательный проект">Научно-образовательный проект</option>
                    <option value="Государственное учреждение">Государственное учреждение</option>
                    <option value="Коммерческая деятельность">Коммерческая деятельность</option>
                    <option value="Стартап">Стартап</option>
                    <option value="Финансы">Финансы</option>
                    <option value="Акселератор / инкубатор / технопарк">Акселератор / инкубатор / технопарк</option>
                    <option value="Ассоциация / объединение">Ассоциация / объединение</option>
                    <option value="Инициатива">Инициатива</option>
                    <option value="Отраслевое событие / научная конференция">Отраслевое событие / научная конференция</option>
                    <option value="Другое">Другое</option>
                </datalist>
            </div>
            <div class="form-field">
                <input type="text" placeholder="ФИО руководителя" name="FIO" id="FIO">
            </div>
            <div class="form-field">
                <input type="tel" id="phone" name="phone" placeholder="7 (XXX) XXX-XX-XX" maxlength="20" required />
            </div>
            <div class="form-field">
                <input type="email" placeholder="электронная почта" name="mail" id="mail">
            </div>
            <div class="form-field">
                <input type="password" minlength="8" maxlength="20" placeholder="пароль" name="password" id="password">
            </div>
            <div class="form-field">
                <input type="password" minlength="8" maxlength="20" placeholder="повторите пароль" name="password2" id="password2">
            </div>
            <button type="submit" class="submit-btn">Зарегистрироваться</button>
        </form>
    </div>
</main>

@section Scripts
{
    <script src="scripts/fetch.js" async></script>
}



