<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/styles/layout.css" asp-append-version="true">
    <link rel="shortcut icon" href="~/static/main/Logo.svg" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Itim&family=Natasha:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;600&family=Inter:wght@400;500;600&family=Itim&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/natasha" rel="stylesheet">
    @await RenderSectionAsync("Links", required: false)
</head>
<body>
    @Html.AntiForgeryToken()
    <header class="header py-2 sticky-top bg-white mb-0 p-3">
        <div class="container-fluid px-0">
            <div class="d-flex align-items-center">
                <!-- Меню -->
                <button style="margin-left: 20px;" class="btn p-0 me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu">
                    <svg width="30" height="30" viewBox="0 0 30 30">
                        <path d="M5,10 H35 M5,15 H35 M5,20 H35"
                              stroke="#000"
                              stroke-width="2"
                              stroke-linecap="round" />
                    </svg>
                </button>

                <!-- Логотип -->
                <div class="logo me-3" style="cursor: pointer">
                    <img src="~/static/main/Logo.svg" asp-append-version="true" onclick="location.href='/'" alt="Logo" width="65" height="42">
                </div>

                <!-- Кнопки для широких экранов -->
                <div class="right-section">
                    <div class="catalog-button" onclick="location.href='search.html'">Каталог организаций</div>
                    <div class="auth-block-header">
                        <div class="login-button" data-bs-toggle="modal" data-bs-target="#loginModal">Вход</div>
                        <div class="register-button" onclick="location.href='registration.html'">Регистрация</div>
                    </div>
                </div>

                
            </div>
        </div>

        <!-- Выезжающее меню -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="mobileMenu">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title">Меню</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <button class="btn w-100 mb-2 catalog" onclick="location.href='index.html'">Главная страница</button>
                <button class="btn w-100 mb-2 catalog" onclick="location.href='search.html'">Проекты</button>
                <button class="btn w-100 mb-2 catalog" onclick="scrollToBottom()">О нас</button>
                <button class="btn w-100 mb-2 catalog" onclick="scrollToBottom()">Помощь</button>

                <!-- 🔽 этот блок будем обновлять -->
                <div class="auth-block mt-3"></div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="contacts">
            <h3>Контакты</h3>
            <div class="contact-item">
                <span>✉</span>
                <a href="mailto:yugolets@priazovsocialimpact.ru" style="color: white; text-decoration: none">yugolets@priazovsocialimpact.ru</a>
            </div>
            <div class="contact-item">
                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.487 17.14L18.387 15.79C17.447 15.15 16.217 15.41 15.587 16.34L14.517 17.95C12.997 17.35 9.66705 14.33 9.03705 12.81L10.647 11.75C11.587 11.12 11.847 9.89 11.207 8.95L9.85705 6.85C9.21705 5.91 7.98705 5.66 7.05705 6.29L4.50705 8.09C3.57705 8.72 3.32705 9.96 3.96705 10.89L5.72705 13.9C7.96705 18.22 11.647 21.43 16.187 22.71C16.967 22.93 17.787 22.71 18.337 22.11L20.337 19.91C21.107 19.03 20.997 17.67 20.487 17.14Z" fill="currentColor" />
                </svg>
                <a href="callto:+79185009038" style="color: white; text-decoration: none">+7 (918) 500-9039</a>
            </div>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
