:root {
    font-size: 16px;
    --primary-color: #0e6466;
    --secondary-color: #e7f0f1;
    --accent-color: #8CB5BB;
    --text-color: #1E1E1E;
    --light-text: #FFFFFF;
    --border-color: var(--primary-color);
    --header-bg: #FFFFFF;
    --header-border: #e0e0e0;
    --menu-hover: #ececec;
    --logo-bg: var(--accent-color);
    --container-bg: var(--secondary-color);
    --container-border: rgba(70, 70, 70, 0.8);
    --tab-gradient-start: var(--primary-color);
    --tab-gradient-end: var(--header-bg);
    --executor-text: var(--primary-color);
    --investor-text: var(--secondary-color);
    --field-bg: var(--header-bg);
    --btn-hover: #073434;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: #FFFFFF;
    color: #012021;
}

.validate {
    color: red;
}

.main-container {
    min-height: 80vh; /* чтобы контейнер центрировался на всю высоту экрана */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* центр по вертикали */
    gap: 40px; /* отступ между заголовком и контейнером */
    padding: 20px;
    background: #FFFFFF;
}

.auth-title {
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--text-color);
    text-align: center;
    margin: 20px 0 0 0; /* отступ сверху и снизу */
    padding-top: 20px; /* дополнительный внутренний отступ сверху */
}

.auth-container {
    width: 100%;
    max-width: 700px;
    background: var(--secondary-color);
    border: 1px solid var(--container-border);
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 20px 70px 90px;
    position: relative;
}

.field {
    width: 100%;
    flex-grow: 1;
}

.forgot {
    margin: 10px 0 0 0;
}

a {
    color: #0E6466;
}

.form-field {
    height: 40px;
    background: #FFFFFF;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: border-color 0.3s ease;
    padding-right: 10px;
    margin: 6px 0 4px 0;
}

    .form-field:focus-within {
        border-color: var(--accent-color);
    }

    .form-field input,
    .form-field select {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        border: none;
        outline: none;
        background: transparent;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.05em;
        color: var(--text-color);
    }

.submit-btn {
    position: absolute;
    bottom: 0;
    width: 140%;
    height: 70px;
    background: var(--primary-color);
    color: var(--light-text);
    border: none;
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-top: auto;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .submit-btn:hover {
        background: #383838;
    }

