
:root {
    font-size: 16px;
    --primary-color: #0e6466;
    --secondary-color: #e7f0f1;
    --accent-color: #8CB5BB;
    --text-color: #1E1E1E;
    --light-text: #FFFFFF;
    --border-color: var(--primary-color);
    --header-bg: #FFFFFF;
    --header-border: #e0e0e0;
    --menu-hover: #ececec;
    --logo-bg: var(--accent-color);
    --container-bg: var(--secondary-color);
    --container-border: rgba(70, 70, 70, 0.8);
    --tab-gradient-start: var(--primary-color);
    --tab-gradient-end: var(--header-bg);
    --executor-text: var(--primary-color);
    --investor-text: var(--secondary-color);
    --field-bg: var(--header-bg);
    --btn-hover: #073434;
    --shadow-color: rgba(0, 0, 0, 1);
    --light-gray: #F0F0F0;
    --medium-gray: #D9D9D9;
    --dark-gray: #5C5B5B;
    --white: #FFFFFF;
    --border-radius: 8px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--light-gray);
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
}

.site-main {
    flex: 1;
    background-color: white;
    padding: 2rem;
}

/* Шапка */

.right-section {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: auto;
}

.header {
    height: 3.5rem;
    box-shadow: 0 2px 8px var(--shadow-color);
}

.catalog-button {
    background: #0E6466;
    border-radius: 15px;
    padding: 8px 20px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
}

.user-controls {
    display: flex;
    gap: 16px;
}

.login-button {
    background: #E7F0F2;
    border-radius: 15px;
    padding: 8px 20px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #0E6466;
    border: none;
    cursor: pointer;
}

.register-button {
    background: #0E6466;
    border-radius: 15px;
    padding: 8px 20px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.catalog-btn {
    background: var(--primary-color);
    border-radius: 15px;
    color: var(--white);
    font-weight: 400;
    letter-spacing: 0.04em;
    padding: 8px 20px;
}

.login-btn {
    background: var(--accent-light);
    border-radius: 15px;
    color: var(--primary-color);
    font-weight: 500;
    padding: 8px 20px;
}

.register-btn {
    background: var(--primary-color);
    border-radius: 15px;
    color: var(--white);
    font-weight: 500;
    padding: 8px 20px;
}


/* Выезжающее меню */
.catalog {
    transition: background-color 0.5s ease;
    background-color: white;
    border: solid;
    border-width: 1px;
    color: black;
    height: 3em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5) inset;
}
/* MAIN CONTENT */
.site-main {
  flex: 1;
  background-color: white;
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  margin-left: 4rem;
  margin-right: 4rem;
}

.text-fields {
  flex: 3;
  margin-right: 20px;
}

.location {
  font-size: 22px;
  margin-bottom: 10px;
}

.industry {
  font-size: 30px;
  margin-bottom: 10px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.short-description-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
}

.short-description {
  font-size: 18px;
  flex: 2;
  margin-right: 20px;
}

.image-placeholder {
  width: 480px;
  height: 270px;
  text-align: center;
  line-height: 100px;
  flex-shrink: 0;
}

.org-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Это обеспечит правильное масштабирование изображения */
    margin-bottom: 20px;
}

.full-description {
  font-size: 18px;
  line-height: 1.4;
}

/* SIDEBAR */
.sidebar {
  flex: 1;
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 1.5rem;
  width: 10rem;
  height: 25rem;
  margin-top: 2rem;
}

.sidebar-content {
  font-size: 18px;
}

.sidebar-content h2{
  margin-top: 2rem;
}

.sidebar-content p{
  margin-bottom: 3rem;
}

.sidebar-content ul {
  margin-top: 8px;
  padding-left: 18px;
}

.sidebar-content li {
  margin-bottom: 5px;
}

/* FOOTER */
footer h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

footer a {
  text-decoration: none;
  color: white;
  
}
footer {
    width: 100%;
    font-size: 14px;
    color: var(--text-color);
    padding: 20px 180px;
    background: #0E6466;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: large;
    margin-top: auto; /* Исправлено с margin-toop */
}

.footer-content {
    display: flex;
    align-items: flex-start;
    gap: 4rem; /* Расстояние между contacts и help-section */
}

.contacts {
    margin-bottom: 0;
}

.help-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.help-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-item span,
.contact-item svg {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.contact-item a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contact-item a:hover {
    text-decoration: underline;
}